body {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #555555;
  color: white;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #3EBCAC;
  display: inline-block;
}

.square:hover {
  background-color: rgb(52, 122, 113) ;
}

.circle {
  position: relative;
}

.circle:after {
  position: absolute;
  content: "\2B55";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.xis {
  position: relative;
}

.xis:after {
  position: absolute;
  content: "\274C";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}